body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
}

#reset {
    margin: 10px;
    background-color: #808080;
    padding: 10px;
    border: 8px solid #5A5A5A;
    border-radius: 15px;
    width: 7rem;
    height: 4rem;
    transition-duration: 0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 20px;
}

#reset:hover {
    background-color: red;
}
.game {
    width: 7rem;
    height: 7rem;
    border: 5px solid black;
    border-radius: 15px;
    
    box-shadow: 0px 8px 0px 0px #999;
    cursor: pointer;
}

.game:hover {
    background-color: #808080;
}

.game:active {
    background-color: #808080;
    box-shadow: 0 5px #666;
    transform: translateY(7px);
}

.sign {
    font-size: 50px;
}

.player-button-container,
.computer-button-container {
    margin: 10px;
    background-color: #808080;
    padding: 10px;
    border: 8px solid #5A5A5A;
    border-radius: 15px 50px;
}

p {
    font-size: 32px;
}

.header{
    font-size: 50px;
    font-style: italic;
}

#results {
    font-size: 32px;
}

.footer {
    font-size: 24px;
    margin-top: auto;
}

.upper {
    margin-top: auto;
}

a {
    text-decoration: none;
    color: white;
}