body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
}

#reset {
    margin: 10px;
    background-color: #808080;
    padding: 10px;
    border: 8px solid #5A5A5A;
    border-radius: 15px;
    width: 7rem;
    height: 4rem;
    transition-duration: 0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 20px;
}

#reset:hover {
    background-color: red;
}
button {
    width: 7rem;
    height: 7rem;
    border: 5px solid black;
    border-radius: 15px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: red;
}
.sign {
    font-size: 50px;
}

.player-button-container,
.computer-button-container {
    margin: 10px;
    background-color: #808080;
    padding: 10px;
    border: 8px solid #5A5A5A;
    border-radius: 15px 50px;
}

p {
    font-size: 32px;
}

.header{
    font-size: 50px;
    font-style: italic;
}

#results {
    font-size: 32px;
}